* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  body {
    background-color: black;
  }
  
  header {
    height: 80px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    color: white;
  } 
  
  main {
    display: flex; 
    justify-content: center;
  }
  
  form {
    width: 475px;
    height: 350px;
    background-color: purple;
    position: relative;
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center;
    margin: 30px;
  }
  
  button {
    background-color: #232323;
    width: 83px;
    height: 33px;
    color: white;
    border: none;
    margin: 6px;
  }

  input[type='text'] {
  width: 75%;
  height: 40px;
  border: none;
  border-bottom: 2px solid #232323;
  color: #232323;
  background-color: snow; 
} 
  